// flow custom.scss

// for debuging
//body { background-color: darkgrey }

#sections-presentation {
  display: flex;
}

#sections-info {
  display: flex;
  flex-direction: column;
  flex: 100%;
  padding-top: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  // for debuging
  //background: red;
}

// for debuging
#slider {
  //background: green;
}

@media (max-width: 840px) { 
  #sections-presentation { display: block;
                                          padding-top: 0vw;
   } 
}

// Slider

.lSAction > .lSPrev {
  filter: invert(75%);
}
.lSAction > .lSNext {
  filter: invert(75%);
}

.grav-lightslider h1, .grav-lightslider h2, .grav-lightslider h3, .grav-lightslider h4 { color: unset;}

// Ensure dropdown and mobile navigation is accessable while sliding
// theme/_header.scss
.header-fixed #header { z-index: 200; }

.mobile-container { z-index: 200; }
.mobile-menu { z-index: 201; }


// Hamburger Menu
// from mobile.scss
.mobile-menu {
  .button_container {
    right: $horiz-padding * 2;
  }
}  

// Background image overlay
#header { background: unset; }

// Offset box
.modular-features.offset-box .frame-box  { background-color: unset}

// Shadow Test
// org.:
//.modular-features.offset-box .frame-box { margin: -3rem -1.4rem 3rem; padding: 1rem 1rem; background: #1b2069; box-shadow: 0 0 75px 0 rgba(153, 153, 153, 0.1); }

// remove all:
//.modular-features.offset-box .frame-box  { margin: unset; padding: unset; background-color: unset; box-shadow: unset; }

// container padding remove
//.modular-features.offset-box .frame-box  { margin: unset; padding: unset; background-color: unset; box-shadow: 0px 0px 40px 20px rgba(37,23,55,0.75); }
//.container {
//    padding-right: unset;
//    padding-left: unset;
//}
