// flow custom.scss

// for debuging
//body { background-color: darkgrey }

#sections-presentation {
  display: flex;
}

#sections-info {
  display: flex;
  flex-direction: column;
  flex: 100%;
  padding-top: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  // for debuging
  //background: red;
}

// for debuging
#slider {
  //background: green;
}

@media (max-width: 840px) { 
  #sections-presentation { display: block;
                                          padding-top: 0vw;
   } 
}

// Slider

.lSAction > .lSPrev {
  filter: invert(75%);
}
.lSAction > .lSNext {
  filter: invert(75%);
}

.grav-lightslider h1, .grav-lightslider h2, .grav-lightslider h3, .grav-lightslider h4 { color: unset;}

// Ensure dropdown and mobile navigation is accessable while sliding
// theme/_header.scss
.header-fixed #header { z-index: 200; }

.mobile-container { z-index: 200; }
.mobile-menu { z-index: 201; }


// Hamburger Menu
// from mobile.scss
.mobile-menu {
  .button_container {
    right: $horiz-padding * 2;
  }
}  

// Background image overlay
#header { background: unset; }
