{% extends 'partials/base.html.twig' %}

{% if page.header.sidebar_nav is defined %}
  {% set sidebar = page.header.sidebar_nav %}
{% elseif page.parent.header.sidebar_nav is defined %}
  {% set sidebar = page.parent.header.sidebar_nav %}
{% endif %}

{% if (page.header.sliderpage) %}
  {% set presentation = "/sliders/"~page.header.sliderpage %}
{% endif %}
  
{% if page.parent.parent.header.hide_next_prev_page_buttons is defined %}
  {% set hide_next_prev_page_buttons = page.parent.parent.header.hide_next_prev_page_buttons %}
{% elseif page.parent.header.hide_next_prev_page_buttons is defined %}
  {% set hide_next_prev_page_buttons = page.parent.header.hide_next_prev_page_buttons %}
{% endif %}

{% block content %}

  {% set activetag = uri.param('filter') %}
  <div class="columns">
  
    {% include 'partials/sections_columns_layout.html.twig' %}

      {% if not(hide_next_prev_page_buttons) %}
        <p class="prev-next">
          {% set siblings = page.collection({
            'items': {
              '@page.children.visible': page.parent.route
            }
          }) %}
          {% set children = page.collection({
            'items': {
              '@page.children.visible': page.route
            }
          }) %}

          {% if not(page.template == 'sections') %}
            {% include 'partials/sections_horizontal_buttons.html.twig' %}    
          {% endif %}
        </p>      
      {% endif %}
    
    </div>
    {% if sidebar %}
      {% include 'partials/sections_vertical_navigation.html.twig' %}
    {% endif %}

  </div>
{% endblock %}
